//FONT
$roboto : "Roboto", sans-serif;


//COLORS
$black : #000;
$white : #ffffff;
$font-blue : #0F172A;
$orange : #D97706;
$purple : #581C87;
$purple-light : #7E22CE;
$gray : #475569;
$yellow: #FCD34D;
$blue : #0369A1;
$brown : #78350F;